*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0px;
      font-family: 'Proza Libre', sans-serif;
}

/*body {
  background: #6A9113;
  background: -webkit-linear-gradient(to left, #6A9113 , #141517);
  background: linear-gradient(to left, #6A9113 , #141517);
}*/

#masthead {
  height: 150px;
  width: 100%;
  /*height: 150px;*/
  margin : 0;
  padding: 0;
  /*text-align: center;*/
  top: 0;
  margin-bottom: 0;
  position: relative;
}

.mastImage {
  height: 150px;
  width: 25.15%;
}

#ocean, #jungle {
  margin-left: -4px;
}

#desert, #ocean, #jungle, {
  margin-right: -4px;
}

#mtn {
  margin-left: -12px;
  margin-right: -8px;
}

#mastText {
  position: fixed;
  z-index: 10;
  top: 3%;
  left: 40%;
  text-align: center;
  color: darkblue;
  font-size: 2.0em;
  text-shadow: 5px 5px 30px white;
}

 #map {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
}

#mapImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.animal {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

#bald {
  position: absolute;
  top: 45%;
  left: 30%;
}

#baldStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-50%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#bald:hover > #baldStats {
  display: block;
}
#bald:active, #dhole:active, #dugong:active, #forklemur:active, #fossa:active, #scarybat:active, #scaryrabbit:active, #seal:active, #snow:active, #wilddogs:active  {
  filter: invert(100%);
}

#bald:active > #baldPic, #dhole:active > #dholePic, #dugong:active > #dugongPic, #forklemur:active > #forklemurPic, #fossa:active > #fossaPic, #scarybat:active > #scarybatPic, #scaryrabbit:active > #scaryrabbitPic, #seal:active > #sealPic, #snow:active > #snowPic, #wilddogs:active > #wilddogsPic {
  display: block;
}

#baldPic, #dholePic, #dugongPic, #forklemurPic, #fossaPic, #scarybatPic, #scaryrabbitPic, #sealPic, #snowPic, #wilddogsPic {
  display: none;
  position: fixed;
  top: 70%;
  right: 40%;
}
.bigPic {
  height: 250px;
  width: 300px;
}
.bigger {
  text-decoration: underline;
  font-size: 1.2em;
}

#dhole {
  position: absolute;
  top: 30%;
  left: 45%;
}

#dhole h4::first-line {
  color: red;
}

#dholeStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-180%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#dhole:hover > #dholeStats {
  display: block;
}
#dugong {
  position: absolute;
  top: 55%;
  left: 70%;
}
#dugongStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-50%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#dugong:hover > #dugongStats {
  display: block;
}
#forklemur {
  position: absolute;
  top: 50%;
  left: 60%;
}
#lemurStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  top:-220%;
  left: -60%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#forklemur:hover > #lemurStats {
  display: block;
}
#fossa {
  position: absolute;
  top: 65%;
  left: 55%;
}
#fossaStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-50%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#fossa:hover > #fossaStats {
  display: block;
}
#scarybat {
  position: absolute;
  top: 40%;
  left: 70%;
}
#scarybatStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  right:-280%;
  top: 5%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#scarybat:hover > #scarybatStats {
  display: block;
}
#scaryrabbit {
  position: absolute;
  top: 20%;
  left: 80%;
}
#scaryrabbitStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-50%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#scaryrabbit:hover > #scaryrabbitStats {
  display: block;
}
#seal {
  position: absolute;
  top: 17%;
  left: 40%;
}
#sealStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-275%;
  top: 15%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#seal:hover > #sealStats {
  display: block;
}
#snow {
  position: absolute;
  top: 20%;
  left: 70%;
}

#snowStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-280%;
  top: -100%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#snow:hover > #snowStats {
  display: block;
}
#wilddogs {
  position: absolute;
  top: 40%;
  left: 52%;
}
#wilddogsStats {
  display:none;
  border: 2px solid black;
  background-color: #d3c689;
  opacity: 0.7;
  position: absolute;
  left:-260%;
  z-index: 10;
  width: 260%;
  text-align: center;
  box-shadow: 5px 5px 10px #606060;
}

#wilddogs:hover > #wilddogsStats {
  display: block;
}

.button {
  position: relative;
  box-shadow: 0 0 0 2px rgb(142, 142, 142), 0 0 0 6px rgb(167, 167, 167), 0 0 0 7px rgb(193, 193, 193), 0 0 0 11px rgb(203, 203, 203), 0 0 0 13px rgb(255, 255, 255), 0 0 0 15px rgb(102, 102, 102), 0 0 0 16px rgb(230, 230, 230), 0 0 0 17px rgb(240, 240, 240), 0 0 0 18px rgb(255, 255, 255);
  border-radius: 11px;
  background: linear-gradient(rgb(219, 219, 219), rgb(173, 173, 173));
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: 'Biryani', sans-serif;
  text-transform: uppercase;
  color: rgb(85, 85, 85);
  position: fixed;
  top: 850px;
  left: 150px;
}

.button::after, .button::before {
  content: "\2605";
  opacity: 0.6;
  padding: 10px;
  /*text-shadow: 0 0 0 10px rgb(169,192, 209), 0 0 0 5px rgb(220, 224, 222);*/
}
